*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    
}
html{
    font-size:62.5%;
}

.top{
    position:relative;
    background: black;
    height:8vh;
}
.info{
    position: absolute;
    top:1.6rem;
    left:7rem;
}
.first{
    color:white;
    font-size:1.4rem;

}
.und{
    color:white;
    text-decoration: none;
}
.soc{
    position: absolute;
    top:1.6rem;
    right:7rem;
}
nav{
    position:relative;
    right: 5.5rem;
    top: 2rem;
    height: 15vh;

}
.logo{
    position:absolute;
    top:-4rem;
    left:5.5rem;
}
.second{
    position:absolute; 
    top:5rem;
    left:13rem;
    font-family: impact;
    color:black;
    font-size:1.4rem;
}
    ul{list-style:none; 
      color:black;
    overflow:hidden;
    }
    li{float:right;
    }
    li a:hover{background:#0000ff;
    }
    li a{display:block;
    padding:15px;
    font-weight: bolder;
    font-size:1.6rem;
    color:black;
    text-decoration:none;
    }
    .sect{
        position:relative;
        height:50vh;
        z-index: -1;
    }
    .back{
        position: absolute;
        width: 100%;
        background: rgba(0, 0, 0, 0.5);
        opacity: 0.9;
        height:50vh;
    }
    .write{
        position:absolute;
        left:7rem;
        padding-top: 12%;
    }
    h2.z1{
        font-size: 4rem;
        line-height: 2.688rem;
        color:white;
        font-family: Arial black, Helvetica, sans-serif;
    }
    p.z2{
            font-size: 1.4rem;
            line-height: 2.688rem;
            color:white;
            font-family: Arial black, Helvetica, sans-serif;
        
    }
    .log{
        position:absolute;
        top:96%;
        left:7rem;
        border: 0.125rem solid white;
        padding:0.938rem;
    }
    .reg{
        position:absolute;
        top:96%;
        left:17rem;
        border: 0.125rem solid white;
        background: skyblue;
        padding:0.938rem;
    }
    .sa{
        text-decoration: none;
        color:white;
    }
    .next{
        position:relative;
        height: 350vh;
    }
    .we{
        position:absolute;
        top:43rem;
        left:50rem;
        font-size: 3rem;
        font-weight: bolder;
    }
    .de{
        position:absolute;
        top:52rem;
        left:43rem;
        font-size: 3rem;
    }
    .dev{
        font-size: 1.5rem;
        text-align: center;
    }
    .cab{
        position: absolute;
        top:60rem;
        left: 10rem;
        text-align: center;
    }
    h1.fa{
        font-size: 2.4rem;
    }
    p.fo{
        font-size:1.5rem;
    }
    .tv{
        position: absolute;
        top:60rem;
        left: 47rem;
        text-align: center;
    }
    .bill{
        position: absolute;
        top:60rem;
        left: 90rem;
        text-align: center;
    }
    .vtu{
        position: absolute;
        top:80rem;
        left: 10rem;
        text-align: center;
    }
    .educ{
        position: absolute;
        top:80rem;
        left: 47rem;
        text-align: center;
    }
    .chat{
        position: absolute;
        top:80rem;
        left: 90rem;
        text-align: center;
    }
    .our{
        position:absolute;
        top:110rem;
        left:47rem;
        font-size: 3rem;
        font-weight: bolder;
    }
    table{
        position:absolute;
        top:125rem;
        width:100%;
        font-size: 1.67rem;
        left:0;
        border-collapse: collapse;
    }
    td, th{
        text-align: center;
        padding:3rem;
    }
    tr:nth-child(even) {
        background-color: #D6EEEE;
      }
      footer{
        position:relative;
        background: black;
        color:white;
        height:54vh;
      }
      .wells{
            position:absolute;
            top:5rem;
            left:7rem;
            font-size: 3rem;
            font-weight: bolder;
        
      }
      p.wel{
            position:absolute;
            top:10rem;
            left:7rem;
            font-size: 1.6rem; 
      }
      .inf{
        position:absolute;
        top:10rem;
        left:56rem;
        font-size: 1.6rem;
    
  }
  .last{
    position:absolute;
    top:25rem;
    left:55rem;
    font-size: 1.3rem;
    text-align: center;

  }
  .burger {
    margin-left: 15%;
    font-size: 2rem;
    cursor: pointer;
    display: none;
  }
  
  
 
  @media(max-width:768px){
    body{
        overflow-x: hidden;
    }
    html{
        font-size:50%;
    }
    .back img{
        height: 50vh;
    }
    .log,.reg{
        top:25rem;
    }
    .dev{
        left:-20rem;
        top:-3rem;
        position: relative;
        font-size: 1.2rem;
    }
    .tv,.educ{
        left:25rem;
    }
    h1.fa{
        font-size: 1.5rem;
    }
    p.fo{
        font-size: 1rem;
    }
 
table{
    top:140rem;
}
footer{
    top:20rem;
}
.last{
    left:10rem;
}
    
    .we{
        text-align: center;
        left:25%;
    }
        .our{text-align:center;
            top:130rem;
            left:15%;
        }
    
    .cab,.vtu{
        left:2rem;
    }
    .bill{
        left:2rem;
        top:100rem;
    }
    .chat{
        left:25rem;
        top:100rem;
    }
    .sect{
        height:10vh;
    }
    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        background-color: #00cc5f;
        top: 30px;
       
        left: 0;
        position: relative;
        width: 109vw;
        text-align: center;
      }
      
    
      .nav-links.active {
        display: flex;
      }
    
      .nav-links li {
        margin: 1rem 0;
      }
      .burger {
        position: relative;
        left:80%;
        font-size: 4rem;
        display: block;
      }
  }
  @media  (min-width:768px) and (max-width: 1024px){
    body{
        overflow-x: hidden;
    }
    html{
        font-size:50%;
    }
    /*.we{
        left:25%;
    }
    .dev{
        position: relative;
        left:-20rem;
    }*/
  }